{% extends "./layouts/default.twig" %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <h1>Google Shared Contacts manager<br /><small>Privacy policy</small></h1>

        <p>
            This tool does not save data locally. Any data received is only stored in your session and in the current request.
        </p>
        <p>
            I solemnly swear I don't care about your personal data and I won't use them for anything.
        </p>


    </div>
</div>
{% endblock %}