<div id="photo">
    <img src="photo/{{ code |default('null') }}" style="max-width:128px;border:1px #aaa solid;" alt="Photo"/>
</div>
<p>
    <span class="text-info">Google resizes all pictures to 96x96</span>
</p>
<p>
    Upload photo: <input type="file" name="photo" />
</p>